version: '2'
services:
 aop-server:
  image: aop-server-mysql:centos-latest
  ports:
   - "10051:10051"
  volumes:
   - /etc/localtime:/etc/localtime:ro
   - ./aop_env/usr/lib/zabbix/alertscripts:/usr/lib/zabbix/alertscripts:ro
   - ./aop_env/usr/lib/zabbix/externalscripts:/usr/lib/zabbix/externalscripts:ro
   - ./aop_env/var/lib/zabbix/modules:/var/lib/zabbix/modules:ro
   - ./aop_env/var/lib/zabbix/enc:/var/lib/zabbix/enc:ro
   - ./aop_env/var/lib/zabbix/ssh_keys:/var/lib/zabbix/ssh_keys:ro
   - ./aop_env/var/lib/zabbix/mibs:/var/lib/zabbix/mibs:ro
  links:
   - aop-db:aop-db
  ulimits:
   nproc: 65535
   nofile:
    soft: 20000
    hard: 40000
  env_file:
   - .env_db_mysql
   - .env_srv
  user: root
  networks:
   aop_net:
    aliases:
     - aop-server

 aop-web:
  image: aop-web-nginx-mysql:centos-latest
  ports:
   - "80:80"
   - "443:443"
  links:
   - aop-db:aop-db
   - aop-server:aop-server
  volumes:
   - /etc/localtime:/etc/localtime:ro
   - ./aop_env/etc/ssl/nginx:/etc/ssl/nginx:ro
  env_file:
   - .env_db_mysql
   - .env_web
  user: root
  networks:
   aop_net:
    aliases:
     - aop-web

 aop-agent:
  image: aop-agent:centos-latest
  ports:
   - "10050:10050"
  volumes:
   - /etc/localtime:/etc/localtime:ro
   - ./aop_env/etc/zabbix/zabbix_agentd.d:/etc/zabbix/zabbix_agentd.d:ro
   - ./aop_env/var/lib/zabbix/modules:/var/lib/zabbix/modules:ro
   - ./aop_env/var/lib/zabbix/enc:/var/lib/zabbix/enc:ro
   - ./aop_env/var/lib/zabbix/ssh_keys:/var/lib/zabbix/ssh_keys:ro
  links:
   - aop-server:aop-server
  env_file:
   - .env_agent
  user: root
  privileged: true
  pid: "host"
  networks:
   aop_net:
    aliases:
     - aop-agent

 aop-db:
  image: mysql:latest
  volumes:
    - ./aop_env/var/lib/mysql:/var/lib/mysql:rw
  env_file:
   - .env_db_mysql
  user: root
  networks:
   aop_net:
    aliases:
     - aop-db

networks:
  aop_net:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      driver: default
      config:
      - subnet: 172.16.238.0/24
        gateway: 172.16.238.1
